body {
    background-image: linear-gradient(to right bottom, $color-background-light, $color-background-dark);
    background-attachment: fixed;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit
}