body {
    background-image: linear-gradient(to right bottom, $color-background-light, $color-background-dark);
    background-attachment: fixed;
}

.container-index {
    height: 100vh;
    width: 30vw;
    margin: 5rem auto;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit
}