<div class="container">
  <% @pokemon.each do |pokemon| %>
    <div class="card">
      <div class="card__id">
        <p class="card__id--number"><%= pokemon.entry_no %></p>
      </div>
      <div class="card__name">
        <p class="card__name--name">
          <%= pokemon.name %>
        </p>
      </div>
      <div class="card__image">
        <img src="https://www.serebii.net/swordshield/pokemon/<%= pokemon.entry_no %>.png" alt="#" class="card__image--photo">
      </div>
    </div>
  <% end %>
</div>
