// Primary colors
$color-white: #fff;
$color-black: #000;
$color-background-light: #FF0000;
$color-background-dark: #CC0000;
// Type colors
$color-type-bug: #A5B424;
$color-type-dark: #503826;
$color-type-dragon: #756FD3;
$color-type-electric: #F8BC28;
$color-type-fairy: #EFB8F0;
$color-type-fighting: #823425;
$color-type-fire: #DA390F;
$color-type-flying: #99A6ED;
$color-type-ghost: #5E64AB;
$color-type-grass: #74BE3D;
$color-type-ground: #CEB360;
$color-type-ice: #78D3F4;
$color-type-normal: #BCB9BD;
$color-type-poison: #8D468B;
$color-type-psychic: #DF497B;
$color-type-rock: #B29B58;
$color-type-steel: #BCB9BD;
$color-type-water: #3892EC;